<div class="row mb-3 px-5 mt-5">
    <div class="col-12">
        <div class="d-flex align-items-center justify-content-between">
            <h5 class="text-primary">Tasks</h5>
            <a class="btn btn-primary" title="Novo usuário">
                Cadastrar Nova Task
            </a>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header">
        <h6></h6>

        <div class="d-flex justify-content-end">
            <input id="input-search" type="text" placeholder="Pesquisar" class="form-control" />
            <button class="btn btn-primary ms-2" (click)="onSearch()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="card-body table-responsive">
        <table datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger" class="table text-center">
            <thead>
                <tr>
                    <th class="text-center">Completa</th>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Data de Criacão</th>                 
                    <th class="text-center">Opções</th>
                </tr>
            </thead>
            <tbody>
                @for(item of tasks; track item){
                    <tr>
                       <td class="text-center"> {{item.completed}}</td> 
                       <td class="text-center"> {{item.description}}</td> 
                       <td class="text-center"> {{item.createdAt}}</td> 
                       <td class="text-center"> </td> 
                    </tr>
                    
                }
            </tbody>
        </table>
    </div>
</div>