<div class="row mb-1 px-5 mt-5">
    <div class="col-12">
        <div class="d-flex align-items-center justify-content-between">
            <h5 >Tasks</h5>
            <button class="btn btn-primary" title="Novo usuário" (click)="navigateToCreate()">
                Cadastrar Nova Task
            </button>
        </div>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-header">
        <h6></h6>

        <div class="d-flex justify-content-end">
            <input id="input-search" type="text" placeholder="Pesquisar" class="form-control" />
            <button class="btn btn-primary ms-2" (click)="onSearch()">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

    <div class="card-body">
        <table datatable [dtOptions]="dtoptions"  class="table text-center">
            <thead>
                <tr>
                    <th class="text-center">Completa</th>
                    <th class="text-center">Descrição</th>
                    <th class="text-center">Data de Criacão</th>                 
                    <th class="text-center">Opções</th>
                </tr>
            </thead>
            <tbody>                                                              
            </tbody>
        </table>
    </div>
</div>



